/* -----------global------------- */ 

html {
	position: relative; /*sticky footer next 2 lines */
	min-height: 100%;
	font-size: 16px; /*1em = 16px */
}

body {
	font-family: "Muli", Sans-Serif;
	font-size: 62.5%; /*change 1em = 10px */
}

.container-fluid {
	padding: 0;
}

.row {
	margin: 0;
}

#home, #work, .footer {
	background-image: url("images/cubes.png");
	background-color: #348B8B;
	background-attachment: fixed;
	color: #EFE7CD;
}

#about, #contact {
	background-image: url("images/cubes-9B9B9B.png");
	background-color: #EFE7CD;
	background-attachment: fixed;
	color: #2C3E50;
}

p {
	font-size: 1.7em; /*17px*/
}

.anchor { 
	border: 0px solid red;
	padding: 65px 0; /*prevent navbar from hiding anchor sections */
	margin-top: -65px;
	padding-bottom: ; /*-65px prevent next section from hiding this section */
	margin-bottom: 50px;
}

/* ----------------navbar--------------*/

.navbar {
	background: #348B8B;
	opacity: .95; /*transparent navbar*/
}

.navbar, .navbar-brand { /*navbar height */
	min-height: 65px;
	max-height: 65px;
	height: 65px;
}

.navbar a:hover {
	background-color: #FF6F69;
}

.navbar button {
	width: 66px;
	height: 65px;
}

.navbar-toggle {
	border-radius: 0px;
	margin-top: 0px;
	padding-left: 20px;
}


.navbar-toggle .icon-bar {
	background-color: #EFE7CD; /*change color of icon-bar*/
}

ul.nav {
	border: 0px; /*remove weird 1px border-top*/
}

.nav li a {
	padding-top: 20px; /*move nav links around */
	padding-bottom: 25.2px; /*enable block hightlight nav link when hover correctly */
	color: #EFE7CD;
	font-size: 2em; /* 20px */
}

.nav li a:hover {
	/*color: #FF6F69; */
	background-color: #FF6F69; 
}


/* ------------------top------------------- */
#home {
	height: 768px; /* height of home section, 70px for the navbar to prevent obsure */
}

#home h1 {
	font-size: 10em; /*100px, make smaller for xs */
	color: #FF6F69;
	margin-top: 250px;  /*position name */
}

#home h2 {
	font-size: 4em; /*40px */
	color: #EFE7CD;
}

/* -----------------about--------------------*/

#about img {
	border-radius: 50%;
	display: block;
	margin: auto;
	padding-bottom: 10px;
}

#about h2 {
	margin-top: 0px;
	padding-bottom: 10px;

}

.skills ul li {
	padding: 10px 0; /*space between skill points */
	font-size: 1.7em;
}

/* ----------------work-------------------*/

#work {
	height: ; 
}

#work h1 {
	margin-bottom: 20px; /* space after title */
}

.gallery li {
	margin: 0 auto; /*center boxes within cols horizontally*/
	display: inline-block;
	transform: translate(); /*center vertically */
	padding: 10px; /*space between boxes */
}

.text-content {
	background: #2C3E50;
	opacity: .5;
	color: #FF6F69;
	cursor: pointer;
	display: table;
	height: 280px;
	width: 280px;
	position: absolute;
	left: 10px; /*accomadate horiz padding */
	top: 10px;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;

}

.text-content span {
	display: table-cell;
	text-align: center; /*center text */
	vertical-align: middle; 
	font-size: 2em; /*20px */
}

.gallery li:hover .text-content, .gallery li:focus .text-content, .gallery li:active .text-content {
	opacity: .75;
}

/*css hover based on http://geekgirllife.com/place-text-over-images-on-hover-without-javascript/ */

/*--------------contact--------------------*/

#contact {
	padding-bottom: 150px;
}

#contact a {
	color: #FF6F69;
}

#contact a:hover {
	text-decoration: none;
}

.field {
	font-size: 1.7em; /*17px*/
	margin-top: 25px; /*space between fields*/
}

#name, #email, #subject, #message {
	border: 1px solid #2C3E50;
	border-radius: 0%;
	background: #EFE7CD;
	padding: 5px;
	-webkit-box-shadow: inset 0px;
	-moz-box-shadow: inset 0px;
	-o-box-shadow: inset 0px;
	-box-shadow: inset 0px;
}

#name, #email, #subject {
	width: 100%;
	height: 40px;
}

#message {
	width: 100%;
	height: 180px;
}

::-webkit-input-placeholder { /*webkit, blink, edge */
	color: #FF6F69;
}

::-moz-placeholder { /*mozilla firefox 19+ */
	color: #FF6F69;
	opacity: 1;
}

:-ms-input-placeholder { /*IE 10-11 */
	color: #FF6F69;
}

button {
	height: 50px;
	width: 150px;
	font-size: 1.5em; /*30px*/
	color: #EFE7CD;
	margin-top: -10px;
	background-color: #348B8B;
	float: right;
	border: 0px;
}

button:hover {
	background-color: #FF6F69;
	color: #EFE7CD;
}

/*-----------------footer------------------*/

.footer {
	width: 100%;
	position: absolute; /*sticky footer next 4 lines */
	left: 0; 
	bottom: 0;
	height: 154px;
}

.social li {
	display: inline-block;
	margin-top: 10px;
}
.icon .fa { /*icon circles */
	height: 50px;
	width: 50px;
	background-color: transparent;
	border: 3px solid #EFE7CD; 
	border-radius: 50%;
}

.icon .fa:hover { 
	background-color: #EFE7CD;
	border: 3px solid #FF6F69; 
	border-radius: 50%;
}

.fa {
	font-size: 2.8em; /*28px*/
	color: #EFE7CD;
	position: relative;
	margin: 0 20px;
	padding-top: 8px;
} 

.social .fa:hover {
	color:#FF6F69;
}

.footer p {
	position: relative;
	font-size: 1.4em;
	bottom: -15px; /*position copyright on bottom, find better way?? */
}

.footer h5 a:hover {
	text-decoration: none;
}

.footer span {
	color: #FF6F69;
}

* {
	border: 0px solid black;
} 

/* font colors
#FF6F69 = red
#348B8B = blue green
#EFE7CD = tan
#2C3E50 = dark blue 

*/

/* ----------- media queries --------- */

/* xs = < 768px
s = 768-991
md = 992 - 1199
lg = 1200 + */

@media screen and (max-width: 768px) { /*max-height: 660px ipad landscape */
	.collapsing, .in {
		background-color: #348B8B;
	}
	
	p {
		font-size: 1.5em;
	}

	#home h1 {
		font-size: 6.5em;
		margin-top: 200px;
		text-align: right;
	}
	#home h2 {
		font-size: 3em;
		text-align: right;
	}

	.skills h2 {
		margin-bottom: -5px;
	}

	.skills ul li {
		line-height: 5px; /*space between skill points */
	}
}





